.content-flex {
	display: flex;

	.display-value {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1em;
		flex: 1;

		>.value {
			font-size: 24pt;

			&.negative {
				color: _palette(value-neg);
			}

			&.neutral {
				color: _palette(value-neu);
			}

			&.positive {
				color: _palette(value-pos);
			}
		}

		>.description {
			padding: 0 3em;
			font-size: 10pt;
		}
	}
}