.content-flex {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;

	>i {
		width: 100%;
		font-size: 10pt;
		text-align: center;
	}

	.display-value {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1em;
		flex: 1;

		>.value {
			font-size: 24pt;

			&.negative {
				color: _palette(value-neg);
			}

			&.neutral {
				color: _palette(value-neu);
			}

			&.positive {
				color: _palette(value-pos);
			}
		}

		>.description {
			padding: 0 3em;
			font-size: 10pt;
			max-width: 26em;
		}
	}

	.display-img {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1em;
		flex: 1;

		>img {
			object-fit: contain;
			height: 8em;

			@include breakpoint(small) {
				height: 10em;
			}
		}

		>i {
			font-size: 10pt;
			text-align: center;
		}
	}

	.display-insight {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1em;
		font-size: 10pt;
		min-width: 12em;
		flex: 1;

		>img {
			object-fit: contain;
			height: _size(icon-height);
		}

		>.description {
			padding: 0 1em;
			max-width: 26em;
		}
	}

	.display-icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 2em 1em 2em;
		font-size: 10pt;
		flex: 1;
    	text-align: center;

		>img {
			object-fit: contain;
			height: _size(icon-height);
		}
	}

	.display-artifact {
		display: flex;
		align-items: center;
		margin-bottom: 2em;
		font-size: 10pt;
		width: 100%;
		flex-wrap: wrap;

		.details{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.icon {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 1em;

				img {
						width: _size(icon-height);
						margin: 0 3em;
					}
			}

			.description {
				margin: 0 1em 0.5em 1em;
    			min-width: 12em;
    			max-width: 24em;
			}
		}

		.evidence {
			display: flex;
			align-items: center;
			margin-bottom: 1em;
			flex: 1;

			>img {
				object-fit: contain;
				width: 10em;
    			max-height: 20em;
    			margin-right: 0.5em;
				flex: 1;
				cursor: crosshair;
			}
		}

		&.no-evidence {
			.description {
    			max-width: 40em;
			}
		}
	}
}