// fixed dimensions
$size: 60px;
$offset: 3.5em;

a.floating-button {
	display: none;
	text-align: center;
	width: $size;
	height: $size;
	/*text-indent: -9999px;*/
	position: fixed;
	z-index: 999;
	right: $offset;
	bottom: $offset;
    background-color: #fff;
    box-shadow: 3px 3px 3px #888888;
    opacity: 0.8;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: dotted 1px _palette(border-alt);
}