.image.banner {
	display: block;
	margin: 2em 0 3em 0;

	img {
	    width: 100%;
	    height: 10em;
	    object-fit: cover;
	    object-position: center;
	}
}

@media screen and (max-width: 736px) {

	.image.banner {
		margin: 0.5em 0 1em 0;
	}

}