#search {
	padding-bottom: 2%;
	text-align: center;
}

#project-count {
	font-family: _font(family-heading);
    letter-spacing: _font(letter-spacing);
    font-size: 0.65em;
    text-transform: uppercase;
}