.image.banner {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
			height: 300px;
			overflow: hidden;
		}
		.image.banner img {
				width: 100%;
			}

			@media screen and (max-width: 736px) {

				.image.banner {
					margin: 0 0 1.5em 0;
				}

			}

.app-feature img {
		float: left;
		margin-right: 10px;
		height: 350px
	}
	.app-feature.content{
		padding-right: 50px;
    	padding-top: 20px;
	}

.project-img{
	width: 100%;
}