.image.banner {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
			height: 300px;
			overflow: hidden;
			background-position: 50% 50%;
    		background-repeat: no-repeat;
		}
		.image.banner img {
				width: 100%;
			}

			@media screen and (max-width: 736px) {

				.image.banner {
					margin: 0 0 1.5em 0;
					height: 200px;
				}

			}

.app-feature img {
		float: left;
		margin-right: 10px;
		height: 350px
	}
	.app-feature.content{
		padding-right: 50px;
    	padding-top: 20px;
	}

.web-feature img {
		float: left;
		margin-right: 10px;
		width: 550px
	}
	.web-feature.content{
		padding-right: 50px;
    	padding-top: 20px;
	}

.project-img{
	max-width: 100%;
	max-height: 400px;
}

a.back-to-top {
	display: none;
	text-align: center;
	width: 60px;
	height: 60px;
	/*text-indent: -9999px;*/
	position: fixed;
	z-index: 999;
	left: 50px;
	bottom: 20px;
	/*background: #27AE61 url("up-arrow.png") no-repeat center 43%;*/
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: dotted 1px rgba(160, 160, 160, 0.65);
}

.label-default.tag{
	font-family: "Raleway", Helvetica, sans-serif;
    letter-spacing: 0.25em;
    font-weight: 300;
    font-size: 50%;
    text-transform: uppercase;
    padding: 1%;
    cursor: pointer;
}

.label-default.tag:hover{
	    box-shadow: 2px 2px 2px #cccccc;
}

.filtered{
    background: #F4B350;
    box-shadow: 4px 4px 7px #cccccc;
	}

.filter-tags{
	visibility: hidden;
	font-size: 0%;
}

ul.nav-pills {
	position: fixed;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 55%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }

.nav-pills>li.active>a {
	color: #F4B350;
	background-color: #eee;
}
	.nav-pills>li.active>a:hover {
		color: #F4B350;
		background-color: #eee;
	}
	.nav-pills>li.active>a:focus {
		color: #F4B350;
		background-color: #eee;
	}

.sub-link {
	 font-size: smaller;
	 text-indent: 2em;
}

#search {
	padding-bottom: 2%;
	text-align: center;
}

#intro {
	margin-bottom: 0px;
}

#project-count {
	font-family: "Raleway", Helvetica, sans-serif;
    letter-spacing: 0.25em;
    font-size: 0.65em;
    text-transform: uppercase;
}

#header h2 {
	height: inherit;
	line-height: inherit;
	padding: 0 0 0 1.5em;
	white-space: nowrap;
	font-size: 0.6em;
	font-weight: 300;
}

#intro .logo {
	cursor: pointer;
	}

#footer {
	float: right;
}